.grid-container {
  display: grid;
  grid-template-columns: 40px 300px 40px 100px 1fr;
  gap: 1px;
  min-width: 900px;
  width: 100vw;
}

.grid-header, .grid-row {
  display: contents;
}

.jobs-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
}

.grid-item {
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}